<br>
<br>
{{#charities}}
<section class="section charityPage">
    <div class="columns">
        <div class="column is-9">
            <div class="has-text-centered is-size-4">{{ title }}</div>
            <p class="has-text-centered is-size-5">
                Started by {{ first_name }} {{ last_name}}
            </p>
            <!-- start image columns -->
            <div class="columns has-same-height is-gapless">
                <div class="column"></div>
                <div class="column">
                    <div class="card">
                        <div class="card-image">
                            <figure class="image is-4by3">
                                <img src="https://source.unsplash.com/collection/1125042/1280x960" alt="Placeholder image"/>
                            </figure>
                        </div>
                    </div>
                </div>
                <div class="column"></div>
            </div>
            <!-- end image columns -->
            <p class="has-text-centered">
                {{ descript }}
            </p>
            <br>
            <p class="has-text-centered">
                {{ summary }}
            </p>
            <br>
            <div class="has-text-centered">
                <a class="button is-primary donate has-text-centered pageBtn" data-value={{ id }}>
                    <strong>Donate</strong>
                </a>
            </div>
            <br>
            <p class="has-text-centered is-size-5">
                ${{ total }} out of ${{ goal }}
            </p>
            <progress class="progress is-info" value={{ percent }} max="100">40%</progress>
        </div>
        {{/charities}}
        <div class="column is-3">
            <div class="has-text-centered is-size-4">Donation List</div>
            <aside class="menu">
                {{#each transactions}}
                <ul class="menu-list">
                    <nav class="level is-size-5">
                        <div class="level-left">

                            <li>
                                <p>{{ don_firstname }}</p>
                            </li>
                        </div>
                        <div class="level-right">
                            <li>
                                <p>${{ donation }}</p>
                            </li>

                        </div>
                    </nav>
                </ul>
                {{/each}}
            </aside>
        </div>
    </div>
</section>
<script>
    $(document).ready(function () {
        // pageBtn appears on the charitypage.handlebars
        let pageBtn = $(".pageBtn")
        $(pageBtn).on("click", handleSubmit)
        function handleSubmit() {
            let charityNum = $(this).data("value");
            localStorage.setItem("charityId", charityNum);
            window.location.replace('/donateForm')
        };
        const home = $(".Home");
        home.on("click", function () {
            window.location.replace("/");
        })
    });
</script>