<div class="column is-one-third">
    {{!-- Name of table gets inserted here --}}
    {{#each charities}}
    <div class="card large">
        <div class="card-image">
            <figure class="image">
                {{!-- Name of table column holding image_url --}}
                 <img src= {{ image_url }} {{!--"https://images.unsplash.com/photo-1475778057357-d35f37fa89dd?dpr=1&auto=compress,format&fit=crop&w=1920&h=&q=80&cs=tinysrgb&crop=" --}}
                    alt="Image" />
            </figure>
        </div>
        <div class="card-content">
            <div class="media">
                <div class="media-content">
                    {{!-- Name of charity inserted here --}}
                    <p class="title is-4 no-padding">{{ title }}</p>
                    <p>
                        {{!-- Link to rendered charity page --}}
                        <span class="title is-6"><a href= {{ goal }} ></a></span> {{!--"http://twitter.com/#">@zhaocrack</a></span> --}}
                    </p>
                    {{!-- Category the charity belongs under --}}
                    <p class="subtitle is-6">{{ category }}</p>
                    <img src= />
                </div>
            </div>
            <div class="content">
                {{ descript }}
                <div class="background-icon">
                    <span class="icon-twitter"></span>
                </div>
            </div>
        </div>
    </div>
    {{/each}}
</div>