{{!-- Hero/Showcase starts here --}}
<section class="quoteHead hero is-primary is-medium">
    <div class="hero-body">
        <div class="container has-text-centered">
            <h1 class="title has-text-weight-bold">
                Welcome
            </h1>
            <h2 class="subtitle has-text-weight-semibold">
                “The purpose of life is not to be happy. It is to be useful, to be
                honorable, to be compassionate, to have it make some difference that
                you have lived and lived well.”
                <strong>― Ralph Waldo Emerson</strong>
            </h2>
        </div>
    </div>
</section>
{{!-- Hero/Showcase ends here --}}
<section class="section has-background-light">
    <div class="container">
        <div class="columns">
            <div class="column is-7">
                <h1 class="title">Our Misson</h1>
                <h2 class="subtitle">
                    <p id="missionStatement"> At DonorSpot, believe that no cause should be left behind. We hope that
                        with our application, people will feel empowered to start a cause that they believe will be
                        impactful. No one should feel alone in their movement to do good.</p>
                </h2>
                <div class="buttons">
                    <a class="button is-primary createCharity">
                        <strong>Create Charity</strong>
                    </a>
                </div>
            </div>
            <div class="column right-image">
                <img src="https://cdn.vox-cdn.com/thumbor/J3vYy7WxwuXGlhS9TxtrfnXCRLg=/0x0:1754x1241/1200x800/filters:focal(737x481:1017x761)/cdn.vox-cdn.com/uploads/chorus_image/image/65807400/GettyImages_1060748862.0.jpg"
                    alt="unicef image" />
            </div>
        </div>
    </div>
</section>
<section class="hero has-background-primary is-medium">
    <h1 id="howTo">How does DonorSpot work?</h1>
</section>
<section class="hero has-background-primary is-medium">
    <div class="columns">
        <div class="column steps">
            <h1 class="columnHeader">Sign up</h1>
            <i class="columnIcon fas fa-user-plus"></i>
            <p class="stepDescription">All we require is your name, email, and a Username of your choice to <a
                    href="/signup">get started!</a> </p>
        </div>
        <div class="column steps">
            <h1 class="columnHeader">Create a charity</h1>
            <i class="columnIcon fas fa-hand-holding-heart"></i>
            <p class="stepDescription">Provide a solid description of your charity to give others a clear vision of your
                cause. We wish you the best of luck in reaching your donation goal!</p>
        </div>
        <div class="column steps">
            <h1 class="columnHeader">Donate</h1>
            <i class="columnIcon fas fa-donate"></i>
            <p class="stepDescription">Connect with others and show your support for those who are trying to make the
                world a better place!</p>
        </div>
    </div>
</section>
<div class="section charitiesDisplay">
    <table class="table is-fullwidth">
        <div class="container">
            <div class="columns charities is-scrollable">
                {{#each charities}}
                <div class="column is-one-third">
                    {{!-- Name of table gets inserted here --}}

                    <div class="card large has-background-grey-lighter cardsss">
                        <div class="card-image">
                            <figure class="image">
                                {{!-- Name of table column holding image_url --}}
                                <img src="{{ image_url }}" 
                                    alt="Image" />
                            </figure>
                        </div>
                        <div class="card-content">
                            <div class="media">
                                <div class="media-content">
                                    {{!-- Name of charity inserted here --}}
                                    <p class="title is-4 no-padding">{{ title }}</p>
                                    {{!-- Category the charity belongs under --}}
                                    <p class="subtitle is-6">Category: {{ category }}</p>
                                    {{!-- <img src= /> --}}
                                </div>
                            </div>
                            <div class="content">
                                {{ descript }}
                                <div class="background-icon">
                                    <span class="icon-twitter"></span>
                                </div>
                            </div>
                            <p>
                                {{!-- Link to rendered charity page --}}
                                <span class="title is-6"><a href="/charity/{{ id }}">Learn more...</a></span>
                            </p>
                        </div>
                    </div>
                </div>
                {{/each}}
            </div>
        </div>
    </table>
    <nav class="pagination is-centered" role="navigation" aria-label="pagination">
        <a class="pagination-previous btns" id="previous"><i class="far fa-arrow-alt-circle-left"></i></a>
        <a class="pagination-next btns" id="next"><i class="far fa-arrow-alt-circle-right"></i></a>
    </nav>
</div>
<footer class="footer has-background-primary">
    <div class="content has-text-centered">
        <p>
            <strong>DonorSpot</strong> by <a target = "_blank" href ="https://github.com/Anierva95">Anthony</a>, <a target = "_blank" href ="https://github.com/maxken512">Max</a>, <a target = "_blank" href ="https://github.com/henryni914">Henry</a>, and <a target = "_blank" href ="https://github.com/ZhaoyangXia0204">Zhaoyang</a></a>. The source code can be found at
            <a href="https://github.com/Anierva95/CharityApp">https://github.com/Anierva95/CharityApp</a>.

        </p>
        <p>Wish to contact us?</p>
        <ul class = "email">
            <li>anierva95@gmail.com</li>
            <li>maxken512@gmail.com</li>
            <li>zx70@scarletmail.rutgers.edu</li> 
        </ul>
    </div>
</footer>
<script>
    $("#next").on('click', function () {
        $(".cardsss").animate({ right: '+=500px', left: '-=375px' });
    });
    $("#previous").on('click', function () {
        $(".cardsss").animate({ left: '+=375px' });
    });
</script>